
.product-images{
    width: 20%;
    height: 40%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
 
}
.product-images {
    flex: 0 1 calc(30% - 20px);
    max-width: calc(30% - 20px);
}
